#exit_b, #help_b {display: none;} /* Hide the exit and help buttons on startup */

/* Title formatting*/

#notebook-container h1,
#notebook-container h2,
#notebook-container h3 {
    font-family: "National Park Heavy", sans-serif;
    color: #a26227;
    text-transform: none;
    text-align: center;
}
#notebook-container h1 {font-size: 140%}
#notebook-container h2 {font-size: 110%}
#notebook-container h3 {
    font-size: 85%;
    text-align: left
}
#notebook-container h4 {
    font-size: 50%;
    font-weight: normal;
    text-align: right
}
/*  h5, h6 not used - make ugly to warn */
#notebook-container h5, #notebook-container h6 { color: #0055aa; text-decoration: line-through; }

/* Other formatting */

.rise-enabled .text_cell {
    font-size: 140%;
}

#notebook-container rendered_html pre,
#notebook-container .text_cell_render .rendered_html pre .code,
.rendered_html code {
    font-family: "Hack" monospace;
    color: rgba(112, 76, 44, 0.63);
    font-size: 90%;
    background: none;
}
#notebook-container .rendered_html pre code {
    background-color: #fdf6e3;
}
#notebook-container rendered_html p, .rendered_html p {
    font-family: "Hack" monospace;
    font-size: 75%;
    color: rgb(112, 76, 44);
    margin-top: 10px;
    background: none;
}
#notebook-container .rendered_html ul li {
    font-family: "Hack" monospace;
    font-size: 80%;
    line-height: 1.5em;
    list-style: disc;
}

#notebook-container a {
    color: rgba(33, 33, 255, 0.54);
    text-decoration: none;
    text-decoration-hover: underline;
}
#notebook-container a:hover {
    color: rgb(33, 33, 255);
    font-weight: bold;
}

div.input_area {
    background: rgba(255, 255, 255, 0.90);
}
div.output_stdout {
    background: rgba(255, 255, 255, 0.5);
}
div.output_stderr {
    background: rgba(158, 204, 158, 0.8);
}

.reveal .slide-number {
    font-size: 16px;
}
